.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    
    &__item {

    }

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;

        background-color: rgba(#fff, .05);
    }

    &__link:hover {
        background-color: rgba(#fff, .1);
        transform: translateY(-.4rem);
        box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    }

    &__link:active {
        transform: translateY(-.1rem);
        box-shadow: none;
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-gray-light-2;
    padding-top: 6rem;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}